<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="base::headbar"></div>

<body>

<div th:insert="index::navbar"></div>


<div class="container">
    <div class="jumbotron">
        <div class="card" style="width:560; height:1015;">
            <iframe width="560" height="515" class="card-img-top" src="https://www.youtube.com/embed/1r8sR-tKmC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="card-body">
                <h5 class="card-title">Tian Guo Marching Band (Full Film)</h5>
                <p class="card-text">This is the Tian Guo Marching Band. For many people, this is just another band with distinctive costumes. But actually, it is formed by practitioners of Falun Gong, a meditation group that has been persecuted and demonized by the communist regime in China. Some band members or their family members were thrown into prison and tortured for their belief.

                    This is a very special marching band.</p>
                <a href="https://www.youtube.com/embed/1r8sR-tKmC4" class="btn btn-primary">Watch now</a>
            </div>
        </div>

    </div>
    <div th:insert="base::script-boot"></div>
</body>
</html>